header{
    margin: 0;
    text-align: center;
    background-color: rgb(176, 253, 227);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main > *{
    margin: 5px;
}
